.sentMessage{
    float:right;
    clear:both;
    margin-right:5%;
    border-radius: 10px 10px 0 10px;
    background: linear-gradient(#034a9b,#095ebe);
    padding:1vh;
    /* color:white; */
    font-family: "Quicksand";
    font-size: calc(0.5vh+0.5vw);
    margin-top:1%;
    background: rgba(5, 10, 66, 0.163);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.77);
    max-width: 50%;
    overflow:hidden;

}
.receivedMessage{

    float:left;
    margin-left:2.6%;
    clear: both;
    margin-top: 1%;
    border-radius: 10px 10px 10px 0;
    
    background: linear-gradient(#034a9b,#095ebe);
    padding:1vh; 
    /* color:white; */
    font-family: "Quicksand";
    font-size: calc(0.75vh+0.75vw);
    /* From https://css.glass */
    background: rgba(41, 41, 41, 0.027);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    border: 1px solid rgba(255, 255, 255, 0.77);
}
.msgForm{
    display: flex;
    margin-top: auto;
    border:1px solid black;
    border-radius: 10px;
    /* position: fixed; */
    bottom:0.5vh;
    /* left:1.7vw; */
    justify-self: center;
    margin:0% 1%;
    background: white;
    font: 300;
    clear:both; 
    justify-content: space-between;
    /* border:2px solid black; */
    /* width:20vw; */
    display: flex;
    align-items: top;
    justify-items: right;
    margin-bottom:2vh;
    margin-top:2vh;
    padding:0.5vh;
    position:fixed;
}
#newMsgInput{
    width: auto;

    /* border: 1px solid blue; */
}
#newMsgInput input{
    justify-self: top;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100%;
    padding:0px;
    color:black;
    width:100%;
    border:none;
    
    /* border: 1px solid red; */
}
.msgSpace{
    height: 70vh;
margin-bottom: 20vh;
/* border: 2px solid black; */
overflow-y: scroll;
scrollbar-width: none;
position: fixed;
}
.inpSection{
    background: white;
    height:8%;
    width:24.5%;
    position:fixed;
    bottom:0.1vh;
}