#sentMessage{
    float:right;
    clear:both;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 10px;
    background: linear-gradient(#034a9b,#095ebe);
    padding:1vh;
    color:white;
    font-family: lobster;
    font-size: large;

}
#receivedMessage{

    float:left;
    margin-left:2.7vw;
    clear: both;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 0;
    
    background: linear-gradient(#034a9b,#095ebe);
    padding:1vh; 
    color:white;
    font-family: lobster;
    font-size: large;
}