#feed-container{
    /* border: 1px solid blue; */
    width: 60%;
    height: 97.5vh;
    margin-top: 1%;
    z-index: 0;
}
@media (max-width:850px) {
    #feed-container{
        width: 100%;
    }
}
